/* font */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fredoka+One&family=Hi+Melody&family=Kalam:wght@300;400;700&family=Mitr:wght@200;300;400;500;600;700&family=Montserrat:wght@400;600;700;800&family=Open+Sans:wght@400;600;700&display=swap");

/* styles */
@import "reset.css";
@import "clock.css";
@import "login-form.css";
@import "weather.css";
@import "todo.css";
@import "quote.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Hi Melody", cursive;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 5px black;
}

input {
  outline: none;
}

.hidden {
  display: none !important;
}
