#todo {
  position: absolute;
  bottom: 80px;
  right: 20px;
  color: white;
  text-shadow: 2px 2px 5px black;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px black;
}

#todo-form {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

#todo-form input {
  width: 100%;
  font-family: "Hi Melody", cursive;
  font-size: 20px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#todo-list {
  min-height: auto;
  max-height: 150px;
  overflow-y: scroll;
}

#todo-list::-webkit-scrollbar {
  width: 3px;
}
#todo-list::-webkit-scrollbar-thumb {
  background-color: #777;
  height: 50px;
  border-radius: 1px;
}
#todo-list::-webkit-scrollbar-track {
  color: white;
}

#todo-list > li {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  margin-top: 5px;
}

#todo-list > li input {
  width: 15px;
  height: 15px;
  margin: 2.5px 5px 2.5px 0px;
}

#todo-list > li span {
  flex-wrap: wrap;
  word-break: break-all;
  width: 180px;
  margin-right: 5px;
}

#todo-list > li input:checked + span {
  text-decoration: line-through;
  opacity: 0.5;
}

#todo-list > li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  color: rgb(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
}

#todo-list > li:hover button {
  visibility: visible;
}

#todo-list > li button:hover {
  color: rgb(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.3);
}

#todo-list > li > form {
  display: flex;
  line-height: 20px;
}

#todo-list > li > form input {
  width: 200px;
  height: 20px;
  font-family: "Hi Melody", cursive;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0px 0px;
  margin: 0px 5px 0px 0px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
